
@media screen and (min-width: 0px) {
	.container__add-producto {
		margin: 2rem 1rem;
	}
	.formulario__producto {
		padding: 5px;
	}
}

@media screen and (min-width: 768px) {
	.container__add-producto {
		margin: 2rem 1rem;
	}
	
	.formulario__producto {
		padding: 0 70px;
	}
}

@media screen and (min-width: 992px) {
	.container__add-producto {
		margin: 2rem 5rem;
	}
	
	.formulario__producto {
		padding: 0 140px;
	}
}

.container__add-producto {
	display: none;
}

.formulario__producto {
	text-align:center;
}
