
@media screen and (min-width: 0) {


}


@media screen and (min-width: 768) {


}

@media screen and (min-width: 992) {
	.banner {
		margin: 0rem 5rem 0rem 5rem;
	}
}



.container__banner {
  height: 47vh;
  width: 100%;
  background-image: 
  linear-gradient(rgba(0, 0, 0, 0.10), rgba(0, 0, 0, 0.7)),
  url("../img/back01.jpg");
  background-blend-mode: overlay;
  background-repeat: no-repeat;	
  background-size: cover;
}

.banner {
	display: flex;
	justify-content: space-between;
	margin: 0rem 5rem 0rem 5rem;
}

.banner__descuentos {
	display: flex;
	flex-direction: column;
	color: var(--color-banner);
	align-items: center;
}

.descuentos__img {
	width: 200px;
    height: 200px;
	border: 5px solid #666;
	border-radius: 150px;
	margin: 1rem;
}

.banner__descuentos  h3{
	font-family: 'Kodchasan', sans-serif;
	text-align: center;
}

.descuentos__ir-a {
	color: white;
	padding: 0.75rem;
	margin: 1rem;
	border-radius: 50px;
	background: #0B0B0B;
	font-size: 1.3rem;
	text-align: center;
	width: 5rem;
}

.descuentos__ir-a:hover {
	transform: scale(1.1);
}

.descuentos__ir-a label {
	font-family: 'Kodchasan', sans-serif;
	padding-right: 0.5rem;
}

.banner__content {
  margin-left: 2rem;
  height: 45vh;
  display: flex;
  flex-wrap: wrap;
  color: white;
 }

.content__titulo {
  align-self: center;	
  font-family: 'Train One', cursive;
  font-size: 1.75rem;
  font-weight: 500;
}

.banner__content p {
  align-self: flex-end;
  padding-bottom: 2rem;  
  font-family: 'Alata', sans-serif;
  font-size: 1rem;
  font-weight: lighter;
  color: #fafbfd;
}

.banner__img {
  width: 100px;
  height: 100px;
  border: 5px solid #666;
  border-radius: 150px;
  margin: 1rem;
}


