
@media screen and (min-width: 320px) {
	.banner__descuentos {
		margin: 0 1rem 0 1rem;
		grid-template-columns: 1fr;
	}
	
	.descuentos__img {
		display: none;
	}
}


@media screen and (min-width: 768px) {
	.banner__descuentos {
		margin: 0 3rem 0 3rem;
		grid-template-columns: 1fr 2fr;
	}
	
	.descuentos__img {
		width: 150px;
		height: 150px;
		display: block;
	}
}

@media screen and (min-width: 992px) {
	.banner__descuentos {
		margin: 0 5rem 0 5rem;
		grid-template-columns: 1fr 3fr;
	}
	
	.descuentos__img {
		width: 200px;
		height: 200px;
		display: block;
	}
}

.container__banner {
  display: block;	
  height: 100%;
  width: 100%;
  background-image: 
  linear-gradient(rgba(0, 0, 0, 0.10), rgba(0, 0, 0, 0.7)),
  url("../img/back01.jpg");
  background-blend-mode: overlay;
  background-repeat: no-repeat;	
  background-size: cover;
}

.banner__descuentos {
	display: grid;
}

.descuento__producto {
  justify-self: center;
  align-self: center;
}

.descuentos__img {
	border: 2px solid #666;
	border-radius: 150px;
	margin: 1rem;
}

.descuentos__comemts {
	padding-left: 1rem;
	color: white;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
}

.descuentos__comemts h1 {
	font-family: 'Train One', cursive;
}

.descuentos__comemts p {
	font-family: 'Alata', sans-serif;
}

.descuentos__ir-a {
	color: black;
	padding: 0.75rem;
	margin: 1rem;
	border-radius: 50px;
	background: #e3e4e5;
	font-family: 'Alata', sans-serif;
	font-size: 1.3rem;
	text-align: center;
	width: 5rem;
}

.descuentos__ir-a:hover {
	transform: scale(1.1);
}

