
@media screen and (min-width: 0px) {
	.contacto__all-info {
		padding: 2rem 1rem 2rem 1rem;
		display: grid;
		grid-template-columns: 1fr;
	}
	
	.all-info__quienes {
		display: grid;
		grid-template-columns: 1fr;
	}
	
	.logo__alura {
		justify-self: center;
		max-width: 50%;
		padding: 1rem 0 1rem 0;
	}
	
	.links__items {
		text-align: center;
	}
	
	.all-info__formulario {
		margin-top: 3rem;
	}
	
}

@media screen and (min-width: 768px) {
	.contacto__all-info {
		display: grid;
		padding: 2rem 2rem 2rem 2rem;
		grid-template-columns: 1fr 2fr;
		text-align: left;
	}
	
	.logo__alura {
		justify-self: left;
		max-width: 60%;
		padding: 1rem 0 1rem 0;
	}
	
	.links__items {
		text-align: left;
	}
	
	.all-info__formulario {
		margin-top: 1rem;
	}
	
}

@media screen and (min-width: 992px) {
	.contacto__all-info {
		display: grid;
		padding: 2rem 2rem 2rem 2rem;
		grid-template-columns: 1fr 1fr;
		grid-column-gap: 15px;
	}
	
	.all-info__quienes {
		display: grid;
		grid-template-columns: 1fr 1fr;
		grid-column-gap: 20px;
		text-align: left;
	}	
	
	.logo__alura {
		max-width: 100%;
		max-height: 100%;
	}
	
	.all-info__formulario {
		margin-top: 0rem;
	}
}

.container__contacto {
	background: var(--color-contacto);
}


.all-info__formulario {
	display: flex;
	flex-direction: column;
}

.links__items {
	list-style: none;
	padding-bottom: 0.5rem;
}

.links__items a {
	text-decoration: none;
	color: var(--color-links);
}

.formulario__label {
	margin-bottom: 1rem;
	font-weight: bold;
}

.formulario__input {
	background-position: 5% 50%;
	background-image: url("../img/id.png");
	background-repeat: no-repeat;
	width: 60%;
	padding: 12px 20px 12px 40px;
	margin: 8px 0;
	box-sizing: border-box;
}

.formulario__mensaje {
	padding: 12px 20px 12px 40px;
	margin: 8px 0;
	box-sizing: border-box;
}

.formulario__enviar {
	margin-top: 1rem; 
	width: 10rem;
	color: var(--color-font);
	padding: 0.75rem;
	font-size: 1rem;
	border-radius: 50px;
	background: var(--background-btn);
}

.formulario__enviar:hover {
	transform: scale(1.1);
}