
@media screen and (min-width: 0) {
	.container__header {
	  margin: 0px;
	}
	
	.header__logo{
	  order: 1;	
	  width: 35%;
	}
	
	.header__search{
	  order: 3;	
	}
	
	.search__input {
		width: 0;
	}
	
	.search__input::placeholder {
		color: transparent;
	}
	
	.header__search:hover 
	> .search__input {
		width: 5rem;
	}
	
	.header__login {
	  order: 2;
	}
	
	.login__label {
	  display: none;
	}

}	
	
	
@media screen and (min-width: 768px) {	
	.container__header {
	  margin: 0rem 3rem 0rem 3rem;
	}
	
	.header__logo {
	  order: 1;	
	  width: 20%;
	}
	
	.header__search{
	  order: 2;	
	}
	
	.search__input {
		width: 20rem;
	}
	
	.header__search:hover 
	> .search__input {
		width: 20rem;
	}	
	
	.search__input::placeholder {
		color: var(--color-hold);
	}

	.header__login {
      order: 3;
	}

	.login__label {
	  display: none;
	}
}	

@media screen and (min-width: 992px) {
	.container__header  {
	  margin: 0rem 5rem 0rem 5rem;
	}
	
	.header__logo {
	  order: 1;	
	  width: 20%;
	}
	
	.header__search{
	  order: 2;
	}
	
	.search__input {
		width: 20rem;
	}
	
	.header__search:hover 
	> .search__input {
		width: 20rem;
	}	
	
	.header__login {
	  order: 3;	 
	}
	
	.login__label {
	  display: block;
	  padding-left: 1rem;
	  font-size: 1.3rem; 
	}
}

header {
  background: var(--color-head);
  padding: 1rem;
}

.container__header  {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__search {
  background: var(--color-input);
  color: var(--color-head);
  border-radius: 50px;
  padding: 0.75rem;
}

.search__input {
  font-size: 1.3rem;
  background: none;
  color: var(--color-hold);
  border: none;
  outline: none;
  float: left;
  line-height: 1.3rem;
  transition: 0.5s;
}

.search__icon {
  font-size: 1.3rem;
}

.header__login {
  color: white;
  padding: 0.75rem;
  border-radius: 50px;
  background: #0B0B0B;
  display: flex;
  align-items: center;
}

.header__login:hover {
  transform: scale(1.1);
}

.login__icon { 
  font-size: 1.3rem;
  animation: mi-login 2s infinite reverse;
}

@keyframes mi-login{
  from { 
	color: #F9DC17;
  }
  to { 
	color: #DC2214;
  }
}

