

@media screen and (min-width: 0px) {
	.header {
		margin: 0rem 2rem;
		grid-template-columns: repeat(2, 1fr);
		grid-template-rows: repeat(2, 1fr);
		grid-column-gap: 20px;
		grid-row-gap: 10px;
	}
	
	.header__logo { grid-area: 1 / 1 / 2 / 2; }
	.header__btn { grid-area: 1 / 2 / 2 / 3; }
	.header__search { grid-area: 2 / 1 / 3 / 3; }
	
	
	.logo {
		width: 75%;
	}
}	

@media screen and (min-width: 768px) {
	.header {
		margin: 0rem 2rem;
		grid-template-columns: repeat(3, 1fr);
		grid-template-rows: 1fr;
		grid-column-gap: 20px;
	}
	
	.header__logo { grid-area: 1 / 1 / 2 / 2; }
	.header__search { grid-area: 1 / 2 / 2 / 3; }
	.header__btn { grid-area: 1 / 3 / 2 / 4; }

	.logo {
		width: 70%;
	}
	
	.header__search {
		width: 15rem;
	}	
}

@media screen and (min-width: 992px) {
	.header {
		margin: 0rem 5rem;
		grid-template-columns: repeat(3, 1fr);
		grid-template-rows: 1fr;
		grid-column-gap: 20px;
	}
	
	.header__logo { grid-area: 1 / 1 / 2 / 2; }
	.header__search { grid-area: 1 / 2 / 2 / 3; }
	.header__btn { grid-area: 1 / 3 / 2 / 4; }
	
	.logo {
		width: 70%;
	}
	
	.header__search {
		width: 23rem;
	}
	
}

.container__header {
	background: var(--color-head);
	padding: 1rem 0;
}

.header {
	display: grid;
	justify-items: center;
    align-items: center;
}

.header__logo {
	
}

.header__search {
	position: relative;
}

.search__input {
	background: var(--color-input);
	color: var(--color-hold);
	width: 100%;
	height: 2.5rem;
	padding: 0.5rem;
	border: none;
	border-radius: 50px;
	outline: none;
	font-size: 1.5rem;
	transition: all .5s;
}

.search__icon {
	position: absolute;
	right: 2px;
	top: 0px;
	padding: 12px;
	border: none;
	border-radius: 50px;
	outline: none;
	cursor: pointer;
	
}

.search__icon:hover {
	transform: scale(1.2);
}

.header__btn {
	display: flex;
	align-items: center;
	justify-content: center;
	background: var(--background-btn);
	color: var(--color-font);
	border-radius: 50px;
	width: 7rem;
	padding: 0.5rem;
	font-size: 1.25rem;
	text-align: center;
}

.header__btn:hover {
	transform: scale(1.1);
}


#menu,
#back,
#logout {
	display: none;
}

.icon__btn { 
	padding-right: 5px;
	animation: mi-btn 2s infinite reverse;
}

@keyframes mi-btn{
  from { 
	color: #F9DC17;
  }
  to { 
	color: #DC2214;
  }
}


















